@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-border-hover);
    color: var(--color-text);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .content-container {
    width: 85%;
    padding: 2rem;
  }
}
